doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
       h1 Custom Object Table
       h1.aUbtn  #[a(href='/update-cobj') Add/Update this table]
        table.table-bordered
            tr
                th SPORTSMAN NAME
                th JOB
                th AGE
            each sportsman in data
                tr
                    td #{sportsman.properties.sportsman_name}
                    td #{sportsman.properties.job}
                    td #{sportsman.properties.age}
         
            